DB_NAME='${DB_NAME}'
DB_USER='${DB_USER}'
DB_PASS='${DB_PASS}'
DOMAIN='${DOMAIN}'
APP_ORIGIN='${APP_ORIGIN}'
SESSION_SECRET='${SESSION_SECRET}'
GOOGLE_CLIENT_ID='${GOOGLE_CLIENT_ID}'
GOOGLE_CLIENT_SECRET='${GOOGLE_CLIENT_SECRET}'
